.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;

    &.non-wrap{flex-wrap: nowrap;}
    &.wrap-reverse{flex-wrap: wrap-reverse;}
}

.col{flex: auto;}
