@import 'assets.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.filter-box{
    background: $secondary;
    padding: 20px 10px;
    border-radius: 5px;
}

#list{
    display: flex;
    flex-wrap: wrap;
    background: $secondary;
    padding: 10px 5px;
    
    .game-card{
        perspective: 1000px;
        padding: 5px;

        &.focus{
            .content{transform: rotateY(180deg);}
        }
        
        .content{
            position: relative;
            z-index: 1;
            transition: .5s;
            // overflow: hidden;
            margin: 5px;
            cursor: pointer;
            transform-style: preserve-3d;

            &::before{
                content: '';
                position: absolute;
                inset: 0;
                opacity: 0.4;
                background: $primary;
                z-index: -1;
                transition: .5s;
            }

            &:hover{
                &::before{
                    inset: -5px;
                }

                img{
                    transform: scale(1.5);
                    filter: brightness(0.6);
                }

                .game-title{opacity: 1 !important;}
            }
  
            .front{
                position: relative;
                transition: .5s;
                backface-visibility: hidden;

                .image{
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    
                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        transition: .5s;
                    } 
                }

                .game-title{
                    position: absolute;
                    inset: 0;
                    padding: 20px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.397);
                    backdrop-filter: blur(10px);
                    margin: 0 !important;
                    opacity: 0;
                    transition: .5s;
                    color: black;
                }
            }

            .back{
                position: absolute;
                inset: 0;
                padding: 10px 20px;
                transition: .5s;
                transform-style: preserve-3d;
                transform: rotateY(180deg);
                z-index: 1;
                backface-visibility: hidden;
                
                &::before{
                    content: '';
                    position: absolute;
                    inset: 0;
                    opacity: 0.4;
                    background: $primary;
                    z-index: -1;
                }

                .text{
                    overflow-y: scroll;
                    height: 100%;
                }
            }
        }
    }
}